extends layout

block content
  h1= Services
  p Welcome the services for Accomodation
  hr
  h5 here the methods
  h5 users
  ul
    li
     h5 post registration
    li
     h5 post login
  h5 Accomodation
  ul
    li
      h5 post add accomodation
    li
      h5 post update accomodation
    li
      h5 find accomodation